<!-- <div class="paddler empty" ng-class="{empty: !data.team[slot].unit}" dropzone="slot" attach-pricker="" popover-placement-"bottom" 
popover-trigger="mouseenter" popover-title="" uib-popover-template="'views/fragments/popover.html'" popover-append-to-body="'true'" drop-targot="slot"> -->

<table class="table">
    <thead>
      <h4>My Lineup</h4>
      <tr>
          <td align="right">Row</td>
          <td align="right">Left Side Weight</td>
          <td>Left Side Paddler</td>
          <td>Right Side Paddler</td>
          <td>Right Side Weight</td>
      </tr>
    </thead>
  
    <tbody>
        <tr>
            <td align="right">1</td>
            <td align="right">{{weightLeft[0]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[0]" class="form-control" (change)="setPaddler('L', 1)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[0]" class="form-control" (change)="setPaddler('R', 1)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[0]}}</td> 
        </tr>

        <tr>
            <td align="right">2</td>
            <td align="right">{{weightLeft[1]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[1]" class="form-control" (change)="setPaddler('L', 2)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[1]" class="form-control" (change)="setPaddler('R', 2)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[1]}}</td> 
        </tr>

        <tr>
            <td align="right">3</td>
            <td align="right">{{weightLeft[2]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[2]" class="form-control" (change)="setPaddler('L', 3)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[2]" class="form-control" (change)="setPaddler('R', 3)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[2]}}</td> 
        </tr>

        <tr>
            <td align="right">4</td>
            <td align="right">{{weightLeft[3]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[3]" class="form-control" (change)="setPaddler('L', 4)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[3]" class="form-control" (change)="setPaddler('R', 4)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[3]}}</td> 
        </tr>

        <tr>
            <td align="right">5</td>
            <td align="right">{{weightLeft[4]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[4]" class="form-control" (change)="setPaddler('L', 5)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[4]" class="form-control" (change)="setPaddler('R', 5)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[4]}}</td> 
        </tr>

        <tr>
            <td align="right">6</td>
            <td align="right">{{weightLeft[5]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[5]" class="form-control" (change)="setPaddler('L', 6)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[5]" class="form-control" (change)="setPaddler('R', 6)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[5]}}</td> 
        </tr>

        <tr>
            <td align="right">7</td>
            <td align="right">{{weightLeft[6]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[6]" class="form-control" (change)="setPaddler('L', 7)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[6]" class="form-control" (change)="setPaddler('R', 7)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[6]}}</td> 
        </tr>

        <tr>
            <td align="right">8</td>
            <td align="right">{{weightLeft[7]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[7]" class="form-control" (change)="setPaddler('L', 8)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[7]" class="form-control" (change)="setPaddler('R', 8)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[7]}}</td> 
        </tr>

        <tr>
            <td align="right">9</td>
            <td align="right">{{weightLeft[8]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[8]" class="form-control" (change)="setPaddler('L', 9)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[8]" class="form-control" (change)="setPaddler('R', 9)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[8]}}</td> 
        </tr>

        <tr>
            <td align="right">10</td>
            <td align="right">{{weightLeft[9]}}</td>
            <td>
                <select [(ngModel)]="leftPaddlers[9]" class="form-control" (change)="setPaddler('L', 10)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="rightPaddlers[9]" class="form-control" (change)="setPaddler('R', 10)">
                    <option [ngValue]="null">--Empty--</option>
                    <option *ngFor="let paddler of paddlers" [ngValue]="paddler">{{paddler.firstName}} {{paddler.lastName}}</option>
                </select>
            </td>
            <td>{{weightRight[9]}}</td> 
        </tr>

        <tr>
            <td align="right">Total Weight:</td>
            <td align="right">{{leftTotal}}</td>
            <td></td>
            <td></td>
            <td>{{rightTotal}}</td>
        </tr>
    </tbody>
  </table>
  
  