<div class="container">
  <h2>Paddler Details</h2>
  <form #addPaddlerForm="ngForm" (ngSubmit)="onSubmit(); addPaddlerForm.reset();">
    <div class="form-group">
      <label for="name">First Name:</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name:</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="weight">Current Weight:</label>
      <input type="number" class="form-control" id="weight" required [(ngModel)]="model.weight" name="weight">
    </div>

    <div class="form-group">
      <label for="side">Prefered Side:</label>
      <input type="text" class="form-control" id="side" required [(ngModel)]="model.side" name="side">
    </div>

    <div class="form-group">
      <label for="team">Current Team:</label>
      <select class="form-control" id="team" required [(ngModel)]="model.team" name="team">
        <option *ngFor="let t of teams" [value]="t.name">{{t.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!addPaddlerForm.form.valid">Add</button>
  </form>
</div>