<!--The content below is only a placeholder and can be replaced.-->
<!-- <nav>
  <a routerLink="/paddlers">View Paddlers</a><br>
  <a routerLink="/addPaddler">Add a New Paddler</a><br>
  <a routerLink="/addTeam">Add a New Team</a><br>
</nav> -->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="paddlers" class="nav-link" routerLinkActive="active">
          View Paddlers
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="addPaddler" class="nav-link" routerLinkActive="active">
          Add a New Paddler
        </a>
      </li> 
      <li class="nav-item">
        <a routerLink="addTeam" class="nav-link" routerLinkActive="active">
          Add a New Team
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="lineup" class="nav-link" routerLinkActive="active">
          Make a Lineup
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <app-messages></app-messages> -->
